STORAGE_SECRET=change-me-to-any-random-string

VEYON_CLI_PATH=C:\Program Files\Veyon\veyon-cli.exe
VEYON_KEY_PATH=class.pem
VEYON_KEY_NAME=class
WEBAPI_HOST=localhost
WEBAPI_PORT=11080

POLL_INTERVAL_S=1
IMG_FORMAT=jpeg
IMG_QUALITY=85
IMG_WIDTH=480

MODEL_PATH=weights/ONNX_FP32.onnx
DETECT_CONF=0.40
DETECT_IOU=0.20
DETECT_IMGSZ=480

OUTPUT_DIR=./data/screenshots
SAVE_RAW=false
SAVE_ANNOTATED=true