# Ignore private keys and certificates
*.pem
*.env

# Ignore common image formats
*.jpg
*.jpeg
*.png

# Ignore DB
*.db

# Ignore Python compiled files
**/*.pyc
**/__pycache__/

# Runtime data
data/
runs/

# NiceGUI persistent storage
.nicegui/

# Virtual environment
.venv/

# Weight files
*.pt
*.onnx